page-chat {

  .innermsg {
    position: relative !important;
    height: auto !important;
    width: auto !important;
    display: inline-block !important;
    padding: 5px 10px !important;
    margin: 5px !important;
    font-weight: 500 !important;
    font-size: 15px !important;
    border-radius: 15px !important;
  }

  .left {
    float: left !important;
    left: 0 !important;
    background-color: #488aff !important;
    color: #FFFFFF !important;
    margin-left: 10px !important;
  }
  .left:after{
    content: '' !important;
    display: block !important;
    position: absolute !important;
    left: -15px !important;
    top: 1px !important;
    width: 0 !important;
    height: 0 !important;
    border-top: 10px solid transparent !important;
    border-bottom: 10px solid transparent !important;
    border-right: 25px solid #488aff !important;
  }


  .right {
    float: right !important;
    width: content-box !important;
    right: 0 !important;
    background-color: #c9f7a3 !important;
    color: #262626 !important;
    margin-right: 10px !important;
  }
  .right:after{
    content: '' !important;
    display: block !important;
    position: absolute !important;
    right: -15px !important;
    top: 15px !important;
    width: 0 !important;
    height: 0 !important;
    border-top: 7px solid transparent !important;
    border-bottom: 6px solid transparent !important;
    border-left: 25px solid #c9f7a3 !important;
  }


  .msgbubble {
    position: relative;
    margin-bottom: 10px !important;
  }

  .textbox{
    background-color: #efefef;
    //display: flex !important;
    //flex:none !important;
    //width: 100% !important;
    position: absolute !important;
    bottom: 0 !important;
    max-width: 100% !important;
    box-sizing: border-box !important;
    height: 45px !important;
  }
  .textarea{
    box-sizing: border-box;
    flex: 1 1 auto;
    width: inherit;
    display: block;
  }

  .msgcard{
    border:none !important;
  }


  button {
    height: 30px !important;
    font-size: 1.9rem !important;
  }
  .button[icon-only] {
    width: 2.2em !important;
    padding: 0 1px 0 7px !important;
  }

  //.toolbar-background {
  //  background: linear-gradient(316deg, #1ddde8, #BAD5E8);
  //  background-size: 1800% 1800%;
  //  animation: rainbow 5s linear infinite;
  //}
  //ion-content .scroll-content {
  //  background: linear-gradient(316deg, #1ddde8, #BAD5E8);
  //  background-size: 1800% 1800%;
  //  animation: rainbow 5s linear infinite;
  //}
  //ion-footer {
  //  box-shadow: 0 0 4px rgba(0, 0, 0, 0.11);
  //
  //  height: 255px; }
  //
  //.line-breaker {
  //  white-space: pre-line; }
  //
  //.input-wrap {
  //  background: linear-gradient(316deg,#1ddde8, #BAD5E8);
  //  background-size: 1800% 1800%;
  //  animation: rainbow 5s linear infinite;
  //  padding: 5px;
  //  display: flex; }
  //.input-wrap textarea {
  //  background: linear-gradient(316deg, #1ddde8, #BAD5E8);
  //  background-size: 1800% 1800%;
  //  animation: rainbow 5s linear infinite;
  //  flex: 1;
  //  border: 0;
  //  border-bottom: 1px #387ef5;
  //  border-style: solid; }
  //
  //.message-wrap {
  //  padding: 0 10px; }
  //.message-wrap .message {
  //  position: relative;
  //  padding: 7px 0; }
  //.message-wrap .message .user-img {
  //  position: absolute;
  //  border-radius: 45px;
  //  width: 45px;
  //  height: 45px;
  //  box-shadow: 0 0 2px rgba(0, 0, 0, 0.36); }
  //.message-wrap .message .msg-detail {
  //  width: 100%;
  //  display: inline-block; }
  //.message-wrap .message .msg-detail p {
  //  margin: 0; }
  //.message-wrap .message .msg-detail .msg-info p {
  //  font-size: .8em;
  //  color: #888; }
  //.message-wrap .message .msg-detail .msg-content {
  //  position: relative;
  //  margin-top: 5px;
  //  border-radius: 5px;
  //  padding: 8px;
  //  border: 1px solid #ddd;
  //  color: #fff;
  //  width: auto;
  //  max-width: 80%; }
  //.message-wrap .message .msg-detail .msg-content span.triangle {
  //  background-color: #fff;
  //  border-radius: 2px;
  //  height: 8px;
  //  width: 8px;
  //  top: 12px;
  //  display: block;
  //  border-style: solid;
  //  border-color: #ddd;
  //  border-width: 1px;
  //  -webkit-transform: rotate(45deg);
  //  transform: rotate(45deg);
  //  position: absolute; }
  //.message-wrap .message.left .msg-content {
  //  background-color: #fff;
  //  float: left; }
  //.message-wrap .message.left .msg-detail {
  //  padding-left: 60px; }
  //.message-wrap .message.left .user-img {
  //  left: 0; }
  //.message-wrap .message.left .msg-detail .msg-content {
  //  color: #343434; }
  //.message-wrap .message.left .msg-detail .msg-content span.triangle {
  //  border-top-width: 0;
  //  border-right-width: 0;
  //  left: -5px; }
  //.message-wrap .message.right .msg-detail {
  //  padding-right: 60px; }
  //.message-wrap .message.right .msg-detail .msg-info {
  //  text-align: right; }
  //.message-wrap .message.right .user-img {
  //  right: 0; }
  //.message-wrap .message.right ion-spinner {
  //  position: absolute;
  //  right: 10px;
  //  top: 50px; }
  //.message-wrap .message.right .msg-detail .msg-content {
  //  background-color: #387ef5;
  //  float: right; }
  //.message-wrap .message.right .msg-detail .msg-content span.triangle {
  //  background-color: #387ef5;
  //  border-bottom-width: 0;
  //  border-left-width: 0;
  //  right: -5px; }
}
