page-chat {

  .innermsg {
    position: relative !important;
    height: auto !important;
    width: auto !important;
    display: inline-block !important;
    padding: 5px 10px !important;
    margin: 5px !important;
    font-weight: 500 !important;
    font-size: 15px !important;
    border-radius: 15px !important;
  }

  .left {
    float: left !important;
    background-color: #488aff !important;
    color: #FFFFFF !important;
    margin-left: 10px !important;
  }
  .left:after{
    content: '' !important;
    display: block !important;
    position: absolute !important;
    left: -15px !important;
    top: 1px !important;
    width: 0 !important;
    height: 0 !important;
    border-top: 10px solid transparent !important;
    border-bottom: 10px solid transparent !important;
    border-right: 25px solid #488aff !important;
  }


  .right {
    float: right !important;
    background-color: #c9f7a3 !important;
    color: #262626 !important;
    margin-right: 10px !important;
  }
  .right:after{
    content: '' !important;
    display: block !important;
    position: absolute !important;
    right: -15px !important;
    top: 15px !important;
    width: 0 !important;
    height: 0 !important;
    border-top: 8px solid transparent !important;
    border-bottom: 8px solid transparent !important;
    border-left: 25px solid #c9f7a3 !important;
  }


  .msgbubble {
    position: relative;
    margin-bottom: 10px !important;
  }

  .textbox{
    background-color: #efefef;
    //display: flex !important;
    //flex:none !important;
    //width: 100% !important;
    position: absolute !important;
    bottom: 0 !important;
    max-width: 100% !important;
    box-sizing: border-box !important;
    height: 45px !important;
  }
  .textarea{
    box-sizing: border-box;
    flex: 1 1 auto;
    width: inherit;
    display: block;
  }

  .msgcard{
    border:none !important;
  }


  button {
    height: 30px !important;
    font-size: 1.9rem !important;
  }
  .button[icon-only] {
    width: 2.2em !important;
    padding: 0 1px 0 7px !important;
  }
}
